{:paths   ["src" "resources"]
 :deps    {;; Core ------------------------------------------------------------
           org.clojure/clojure              {:mvn/version "1.11.1"}
           com.stuartsierra/component       {:mvn/version "1.1.0"} ; DI / Lifecycle Management
           aero/aero                        {:mvn/version "1.1.6"} ; Configuration

           ;; Web -------------------------------------------------------------
           ring/ring-core                   {:mvn/version "1.10.0"}
           ring/ring-jetty-adapter          {:mvn/version "1.10.0"}
           ring/ring-defaults               {:mvn/version "0.3.4"}
           ring/ring-devel                  {:mvn/version "1.10.0"}
           ring/ring-json                   {:mvn/version "0.5.1"}
           ring-cors/ring-cors              {:mvn/version "0.1.13"}
           metosin/reitit                   {:mvn/version "0.7.0-alpha7"}
           selmer/selmer                    {:mvn/version "1.12.59"}

           ;; Authn & Authz ---------------------------------------------------
           buddy/buddy-auth                 {:mvn/version "3.0.323"}
           buddy/buddy-hashers              {:mvn/version "1.8.158"}

           ;; Database Layer --------------------------------------------------
           org.postgresql/postgresql        {:mvn/version "42.6.0"}
           migratus/migratus                {:mvn/version "1.5.3"} ; DB Migrations
           seancorfield/next.jdbc           {:mvn/version "1.2.659"} ; JDBC
           com.github.seancorfield/honeysql {:mvn/version "2.5.1091"} ; SQL Abstraction

           ;; Various Libraries -----------------------------------------------
           cheshire/cheshire                {:mvn/version "5.12.0"} ; JSON Lib
           com.draines/postal               {:mvn/version "2.0.5"} ; SMTP Client
           metosin/malli                    {:mvn/version "0.13.0"} ; Validation

           ;clj-http/clj-http                {:mvn/version "3.12.3"} ; HTTP Client
           ;org.clj-commons/hickory          {:mvn/version "0.7.3"} ; HTML parser
           }


 :aliases {:run-m {:main-opts ["-m" "myuri.core"]}
           :dev   {:extra-paths ["dev"]
                   :extra-deps  {org.clojure/tools.namespace {:mvn/version "1.4.4"}}}
           :build {:deps       {io.github.seancorfield/build-clj
                                {:git/tag   "v0.9.2" :git/sha "9c9f078"
                                 ;; since we're building an app uberjar, we do not
                                 ;; need deps-deploy for clojars.org deployment:
                                 :deps/root "slim"}}
                   :ns-default build}
           :test  {:extra-paths ["test"]
                   :extra-deps  {org.clojure/test.check {:mvn/version "1.1.1"}
                                 io.github.cognitect-labs/test-runner
                                 {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                   :exec-fn     cognitect.test-runner.api/test}}} 
