{% extends "settings/_layout.html" %}

{% block content %}

<form method="post">
    <h3 class="is-size-3">Change Password</h3>
    <input type="hidden" name="__anti-forgery-token" value="{{ req.anti-forgery-token }}"/>
    <input type="hidden" name="action" value="password_change">
    <div class="field">
        <label for="" class="label">Current Password</label>
        <div class="control">
            <input type="password" class="input" name="current_password" required autofocus/>
        </div>
    </div>
    <div class="field">
        <label for="" class="label">New Password</label>
        <div class="control">
            <input type="password" class="input" name="new_password" required/>
        </div>
    </div>
    <div class="field">
        <label for="" class="label">Repeat new password</label>
        <div class="control">
            <input type="password" class="input" name="new_password2" minlength="8" required/>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <input type="submit" class="button is-link" value="update"/>
        </div>
    </div>
</form>

{% endblock %}