<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/htmx.org@1.8.2" type="text/javascript"></script>
    <script src="/js/app.js" type="text/javascript"></script>
    <title>Myuri</title>
    <script>const csrfToken = '';</script>

</head>
<body>
<div>
{% include "_main-nav.html" %}
</div>

{% block page %}
{% endblock %}
</body>
</html>