html {
    background-color: #f9f9f9;
}
div.bm-item {
    margin-bottom: 10px;
}

div.bm-item div.bm-footer {
    font-size: 0.8em;
    color: #777;
}

div.bm-item div.footer a {
    color: inherit;
}

.uk-navbar-item, .uk-navbar-nav>li>a {
    min-height: 60px;
}

.site-icon {
    width: 18px;
    margin-right: 5px;
}